 <div class="user-details">
    <h1> 
        Χαίρετε! <br/>
        Welcome to my little corner of the internet.
    </h1>
    <h2>About Me</h2>
    <p> 
        I was born in Cyprus, grew up outside D.C., and now find myself 
        studying Computer Science at the University of Pittsburgh. I've 
        spent the past few years at Pitt going wherever my interests may 
        take me. As a result of this, I've had the pleasure of being a part of the 
        <a class="link" href="https://db.cs.pitt.edu/old-group/" target="_blank">ADMT</a>, 
        <a class="link" href="http://people.cs.pitt.edu/~kovashka/" target="_blank">Kovashka</a>, 
        and 
        <a class="link" href="http://www.lifelab.pitt.edu/" target="_blank">LIFE</a> 
        labs, all of which were great experiences and research vastly different areas.
        <br/><br/>
        I love Computer Science, but at the end of the day, I just want to work 
        on some engaging problems and hopefully improve some people's lives along the way. 
    </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Languages</h2>
        <i class="cib-java"></i>
        <i class="cib-pypi"></i> <!-- Python icon but CoreUI has an off-by-one somewhere so I have to use the icon before -->
        <i class="cib-c"></i>
        <i class="cib-runkeeper"></i> <!-- Rust icon but CoreUI has an off-by-one somewhere so I have to use the icon before -->
        <p>
            Proficient in Java, Python, C, and Rust but have experience with 
            many other languages. I've worked on a wide variety of projects 
            and can usually pick up whatever I need to learn pretty quickly.
        </p>
    </div>
    <div class="tech">
        <h2>Other Tools</h2>
        <i class="cib-neo4j"></i>
        <i class="cib-git"></i>
        <i class="cib-linux"></i>
        <i class="cib-viber"></i> <!-- Vim icon but CoreUI has an off-by-one somewhere so I have to use the icon before -->
        <p>
            Certified Neo4j Professional. Very comfortable with Git version 
            control and Unix-based systems. An unfortunate victim of the Vim 
            rabbit hole.
        </p>
    </div>
</div>
