 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>Thanks to my time developing psych experiements I've become comfortable with both HTML and CSS.</p>
    </div>
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <p>I specialize in Java and Python but have experience with many other langauges. I've worked on a wide variety of projects so usually I just learn what ever is needed for the project at hand. </p>
    </div>
    <div class="tech">
      <h2>Other</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>Very comfortable with Git version control and Unix-based systems. Lots of experience with large with scientific packages such as NetworkX, NiPype, and JSPysch.</p>
    </div>
</div>
