<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <i class="cib-java"></i>
    <i class="cib-python"></i>
    <i class="cib-c"></i>
    <i class="cib-rust"></i>
    <p>Proficient in Java and Python but have experience with many other langauges. I've worked on a wide variety of projects so usually I just learn what ever is needed for the project at hand. </p>
  </div>
  <div class="tech">
    <h2>Other Tools</h2>
    <i class="cib-neo4j"></i>
    <i class="cib-git"></i>
    <i class="cib-linux"></i>
    <p>Certified Neo4j Professional. Very comfortable with Git version control and Unix-based systems. Experience with large packages such as NetworkX, Sklearn, and JSPysch.</p>
  </div>
</div>