<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/arxiv.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> FindSimilarArxivAuthors </h3>
    <h4> Featured Skills </h4>
      <ul>
        <li> Python </li>
        <li> Semantic Similarity Analysis </li>
        <li> Use of libraries such as Sklearn </li>
      </ul>
    <p> Given an author in the dataset this project uses Sklearn text feature extraction to find the most similar authors based on the abstracts of their published papers</p>
    <a class="project-link" href="https://github.com/sarrisv/FindSimilarArxivAuthors">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/MST.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Interactive MST </h3>
    <h4> Featured Skills </h4>
      <ul>
        <li> Java </li>
        <li> Graph Algorithm Implementation </li>
      </ul>
    <p> Interactive minimum spanning tree Java applet I made for my HL CS IA in high school. Prim's algorithm in order to construct the MST. </p>
    <a class="project-link" href="https://github.com/sarrisv/InteractiveMST">Check it out</a>
  </div>
</div>
