<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AmsonBot </h3>
    <h4> Featured Skills </h4>>
      <ul>
        <li> Python </li>
        <li> Web-Scrapping </li>
        <li> Various APIs implementated </li>
      </ul>
    <p> A Telegram bot with various functions that apply to my daily life.</p>
    <a class="project-link" href="https://github.com/sarrisv/AmsonBot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Interactive MST </h3>
    <h4> Featured Skills </h4>>
      <ul>
        <li> Java </li>
        <li> Algorithm implementation </li>
      </ul>
    <p> Interactive minimum spanning tree Java applet I made for my HL CS IA in high school. Prim's algorithm in order to construct the MST. </p>
    <a class="project-link" href="https://github.com/sarrisv/InteractiveMST">Check it out</a>
  </div>
</div>
